@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
body{ 
    font-family: 'Noto Sans KR', sans-serif;
}
*{ margin: 0; padding: 0;box-sizing: border-box;}
a { text-decoration: none;}
li { list-style: none;}

/* 모바일 버전 */

/* 헤더 */
/* 토글 및 로고 */
header #menu1{
    height: 77px;
    margin-bottom: 15px;
}
header #menu1 a#toggle{
    display: block;
    background-color: #fff;
}
header #menu1 a#toggle img{
    padding: 13px 0 0 21px;
    width: 50px;
}
header #menu1 a#logo img{
    padding-left: 67px;
    margin-top: -10px;
    width: 180px;
}
/* 네비게이션 메뉴 */
header #menu2{
/* height: 174px; */
/* width: 360px; */
padding-top: 7px;
}
header #menu2> ul > li {
    text-align: center;
    line-height: 47px;
    font-weight: bold;
    width: 65%;
    margin: 0 auto;
    border-bottom: 2px solid #B7B28B;
}
header #menu2> ul > li:nth-child(5){
    border: none;
}
header #menu2> ul > li > a{
    color:#696D53;
    font-size: 1.2em;
    /* text-decoration: underline 1px; */
}
header #menu2 img{
    display: none;
}
header #menu2 ul{
    height: 250px;
    background: url("../images/toggle_bg_line.svg") center;
    background-size: cover;
    display: none;
    /* margin-bottom: -10px; */
}
/* 섹션 */
/* 크레마 소개_1 언제 어디서나 편리하게 */
section #intro_1{
    text-align: center;
    font-size: 1.1em;
    margin-top: 100px;
}
section #intro_1 img {
    width: 120px;
}
/* 크레마 소개_2 무거운 책들은 이제 NO! */
section #intro_2 {
    margin-top: 42px;
    text-align: center;
}
section #intro_2 img{
    width: 80%;
}
section #intro_2_2 {
    width: 80%;
    margin: 0 auto;
    padding-left: 8%;
    position: relative;
    padding-top: 60px;
    margin-top: -7px;
    background-color: #F3F4F1;
    height: 250px;

}
section #intro_2_2 h3, h4{
    text-align: left;
    padding-left: 2%;
}
section #intro_2_2 h3 {
    font-size: 1.4em;
    margin-bottom: 23px;
}
section #intro_2_2 h4 {
    font-size: 1.1em;
    margin-top: 38px;
}
section #intro_2_2 img {
    position: absolute;
    left: 12%;
    height: 2px;
    width: 88%;
}
/* 크레마 소개_3 */
#intro_3{
    text-align: center;
}
#intro_3 img:nth-child(1){
    margin-top: 130px;
    width: 100%;
}
#intro_3 img:nth-child(2){
    width: 100%;
    margin-top: -10px;
}
#remote img:nth-child(1){
    width: 65%;
    margin-top: 120px;
}
#remote img:nth-child(2){
    width: 300px;
    margin-left: -2%;
}
#remote img:nth-child(3){
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    height: 2px;
}
#remote p {
    margin-top: 35px;
    margin-bottom: 120px;
    text-align: center;
    padding-left: 0;
}
/* 크레마 소개_4 */
#intro_4{
    text-align: center;
    font-size: 0.9em;
}
#intro_4 img{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 150px;
}
/* 크레마 S */
#cremaS {
    text-align: center;
}
#cremaS img:nth-child(1) {
    width: 90%;
    margin-bottom: 30px;
}
#cremaS img:nth-child(2), img:nth-child(3){
    width: 100%;
}
#cremaS img:nth-child(2){
    margin-bottom: -5px;
}
#cremaS #cremaS_text {
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    background-color: #EEEEEE;
}
#text_text img{
    width: 100%;
}
#text_text h2, p{
    text-align: left;
    padding-left: 13%;
}
#text_text h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 1.4em;
}
#text_text p {
    font-size: 0.7em;
    padding-bottom: 30px;
    margin-bottom:150px;
    background-color: #EEEEEE;
}
/* 카르타G */
#cartaG{
    text-align: center;
}
#cartaG>img {
    width: 90%;
}
#cartaG_1{
    margin-top: 30px;
    position: relative;
    padding-bottom: 300px;
}
#cartaG_1 img:nth-of-type(1), img:nth-of-type(2){
    width: 60%;
}
#cartaG_1 h2{
    margin-top: -5px;
    margin-bottom: -15px;
}
#cartaG_1 img:nth-of-type(3){
    margin-top: 10px;
    width: 70%;
}
#cartaG_1 p{
    text-align: center;
    margin-top: 10px;
    margin-left: -12%;
    font-size: 0.8em;
}
#cartaG_1 img:nth-of-type(4){
    display: block;
    width: 100%;
    position: absolute;
    margin-top: -230px;
    z-index: -999;
}
/* 카르타G 자이로센서 */
#cartaG_2{
    margin-top: 150px;
}
#cartaG_2_1{
    background-color: #fff;
}
#cartaG_2_1> img{
    width: 60px;
    margin-top:30px ;
    margin-bottom: 15px;
}
#cartaG_2_2{
    background-color: #fff;
    margin: 0 auto;
}
#cartaG_2_2 h3{
    font-size: 1.7em;
    margin-bottom: 15px;
}
#cartaG_2_2 p{
    text-align: center;
    margin-left: -13%;
}
#cartaG_2_2 img{ 
    width: 100%;
    margin-top: 30px;
    margin-bottom: 150px;
}
/* 사운드업 */
#soundUP img:nth-of-type(1){
    width: 90%;
    margin-bottom: 30px;
}
#soundUP img:nth-of-type(2), img:nth-of-type(3){
    width: 100%;
}
#soundUP img:nth-of-type(3){
    margin-top: -10px;
}
#soundUP #SU img{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 150px;
    }
/* 그랑데 */
#grande img:nth-of-type(1){
    width: 90%;
}
#grande img:nth-of-type(2){
    width: 100%;
    margin-top: 30px;
}
#grande img:nth-of-type(3){
    width: 100%;
    margin-top: -5px;
}
/* 상품들 */
#products{
    position: relative;
    margin-top: 150px;
    overflow: hidden;
}
#products_1{
    margin-bottom: 165px;
}
#products_1>img{
    height: 9px;
    position: absolute;
    left: 0;
}
#products_1 h2 {
    position: absolute;
    left: 75px;
    margin-top: -11px;
    font-size: 2em;
}
.products_detail {
    width: 56%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 70px;

}
.products_detail img{
    margin: 0 auto;
}
.products_detail img:nth-of-type(1){
    margin: 30px 0;
}
.products_detail img:nth-of-type(2){
    width: 100%;
}
.products_detail h4{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: -10px;

}
.products_detail .price {
    width: 100%;
    margin-left: -13%;
}
.products_detail .price>p:nth-of-type(1){
    font-size: 2em;
    margin-top: 20px;
}
.products_detail .price>p:nth-of-type(2){
    margin-top: 10px;
    font-size: 1.5em;
    color:#707070;
    margin-bottom: 30px;
}
.products_detail .btn{
    display: flex;
    width: 100%;
    margin-bottom: 80px;
}
.products_detail .btn p:nth-of-type(1){
    color: white;
    background-color: #AFB398;
    border-radius: 30px;
    height: 40px;
    width: 135px;
    font-size: 1.2em;
    line-height: 39px;
    padding-left: 22px;
    display: flex;
    margin-right: 4%;
}
.products_detail .btn p:nth-of-type(2){
    color: #7D806F;
    font-weight: bold;
    background-color: #afb39863;
    border-radius: 30px;
    border: 2px solid #D2D8B3;
    height: 40px;
    width: 135px;
    font-size: 1.2em;
    text-align: center;
    line-height: 36px;
    padding-left: 30px;
    display: flex;
}
/* 푸터 */
footer{
    background: url("../images/footer_bg.svg");
    height: 800px;
    margin-top: 100px;
}
/* 푸터1 */
#footer1{
    padding-top: 100px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
}
#footer1 p{
    margin-bottom: 25px;
}
#footer1 a{ 
    margin-right: 15px;
}
#footer1 a, p{
    color:#483B23;
}
/* 푸터2 */
#footer2{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 80px;
}
#footer2 a{
    margin-right: 30px;
    padding-bottom: 10px;
}
#footer2 p{
    margin-bottom: 80px;
}
#footer2 a, p{
    color:#292929;
}
/* 탑 버튼 */
footer #topB{
    background:url("../images/top_btn.svg") center;
    background-size: cover;
    height: 60px; width: 60px;
    border-radius: 30px;
    position: fixed;
    bottom: 70px;
    right: 20px;
    z-index: 999;
    color: #1d1d1d00;
}

/* 태블릿용 */
@media screen and (min-width:768px) {
    /* 헤더 */
    header {
        z-index: 99999;
        position: absolute;
        width: 100%;
    }
    /* 토글 및 로고 */
    header #menu1 a#toggle img{
        display: none;
    }
    header #menu1 a#logo img{
        margin-top: 37px;
    }
    /* 네비게이션 메뉴 */
    header #menu2{
        position: relative;
    }
    header #menu2 ul{
        height: 40px;
        background: none;
        display: block !important;
        width: 65%;
        float: right;
        margin-top: -67px;
        overflow: hidden;
        margin-right: 10px;
    }
        header #menu2> ul > li {
            border-bottom: none;
            color:#1D1D1D;
            font-size: 0.8em;
            width: 19%;
            float: left;
            margin-left: 1%;
        }
        header #menu2> ul > li > a{
            color:#1D1D1D;
            font-size: 1.2em;
        }
        header #menu2 img{
            display: block;
            width: 66%;
            float: right;
            margin-top: -26px;    }
    /* 섹션 */
    /* 크레마 소개_1 언제 어디서나 편리하게 */
    section #intro_1{
        text-align: center;
        font-size: 1.1em;
        margin-top: 150px;
        margin-bottom: 70px;

    }
    section #intro_1 img {
        width: 120px;
    }
    /* 크레마 소개_2 무거운 책들은 이제 NO! */
    section #intro_2 {
        margin-top: 72px;
        text-align: center;
        display: flex;
        max-width:1300px ;
        margin: 0 auto;
    }
    section #intro_2 img{
        width: 58%;
    }
    section #intro_2_2 {
        width: 42%;
        margin: 0 auto;
        padding-left: 5%;
        position: relative;
        padding-top: 15%;
        background-color: #F3F4F1;
        height: auto;

    }
    section #intro_2_2 h3, h4{
        text-align: left;
        padding-left: 2%;
    }
    section #intro_2_2 h3 {
        font-size: 1.6em;
        margin-bottom: 23px;
    }
    section #intro_2_2 h4 {
        font-size: 1.3em;
        margin-top: 45px;
    }
    section #intro_2_2 img {
        position: absolute;
        right: 0;
        height: 3px;
        width: 88%;
    }
    /* 크레마 소개_3 */
    #intro_3 img:nth-child(1){
        margin-top: 200px;
        width: 100%;
        max-width: 1000px;
    }
    #intro_3 img:nth-child(2){
        max-width: 999px;
    }
    #remote{
        overflow: hidden;
        width: 80%;
        margin: 0 auto;
        max-width: 1000px;

    }
    #remote img:nth-child(1){
        width: 45%;
        margin-top: 130px;
        float: left;
    }
    #remote img:nth-child(2){
        margin-top:30%;
    }
    #remote img:nth-child(3){
        display: none;
    }
    #remote p {
        text-align: center;
    }
    /* 크레마 소개_4 */
    #intro_4 img{
        width: 100%;
        margin-top: 90px;
        margin-bottom: 200px;
        max-width: 1600px;
    }
    /* 크레마s */
    #cremaS>img{
        width: 100%;
        max-width: 1300px;
    }
    #cremaS #cremaS_text {
        margin: 0 auto;
        margin-top: 100px;
        display: flex;
        background: none;
        width: 100%;
        max-width: 1000px;
    }
    #cremaS #cremaS_text img{
        width: 300px;
    }
    #cremaS #cremaS_text h2, p{
        text-align: left;
        padding-left: 7%;
    }
    #text_text {
        width:100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    #text_text h2 {
        padding-top: 70px;
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.7em;
        background: #eee;
    }
    #text_text p {
        font-size: 0.9em;
        background: none;
        padding-top: 20px;
        padding-bottom: 88px;
        background: #eee;
    }
    /* 카르타G */
    #cartaG{
        text-align: center;
        max-width: 1300px;
        margin: 0 auto;
    }
    #cartaG>img {
        width: 90%;
    }
    #cartaG_1{
        padding-top: 80px;
        position: relative;
        padding-bottom: 170px;
        max-width: 1000px;
        margin: 0 auto;
    }
    #cartaG_1 img:nth-of-type(1), img:nth-of-type(2){
        width: 60%;
    }
    #cartaG_1 h2{
        margin-top: -5px;
        margin-bottom: -15px;
    }
    #cartaG_1 img:nth-of-type(3){
        margin-top: 20px;
        width: 70%;
    }
    #cartaG_1 p{
        text-align: center;
        margin-top: 20px;
        margin-left: -12%;
        font-size: 1.0em;
    }
    #cartaG_1 img:nth-of-type(4){
        display: block;
        width: 100%;
        position: absolute;
        margin-top: -350px;
        z-index: -999;
    }
    /* 카르타G 자이로센서 */
    #cartaG_2{
        margin-top: 520px;
    }
    #cartaG_2_1{
        background-color: #fff;
    }
    #cartaG_2_1> img{
        width: 70px;
        margin-top:40px ;
        margin-bottom: 20px;
    }
    #cartaG_2_2{
        background-color: #fff;
        margin: 0 auto;
    }
    #cartaG_2_2 h3{
        font-size: 1.9em;
        margin-bottom: 25px;
    }
    #cartaG_2_2 p{
        text-align: center;
        margin-left: -10%;
    }
    #cartaG_2_2 img{ 
        width: 100%;
        margin-top: 40px;
        margin-bottom:220px;
    }
    /* 사운드업 */
    #soundUP img:nth-of-type(1){
        width: 90%;
        margin-bottom: 30px;
        max-width: 800px;
    }
    #soundUP img:nth-of-type(2), img:nth-of-type(3){
        max-width: 800px;
    }
    #soundUP img:nth-of-type(3){
        margin-top: -10px;
    }
    #soundUP #SU img{
        width: 100%;
        margin-top: 130px;
        margin-bottom: 120px;
        }
    /* 그랑데 */
    #grande img:nth-of-type(1){
        width: 90%;
        max-width: 1300px;
    }
    #grande img:nth-of-type(2){
        width: 100%;
        max-width: 800px;
        margin-top: 30px;
    }
    #grande img:nth-of-type(3){
        width: 100%;
        margin-top: -5px;
    }
    /* 상품들 */
    #products_1{
        margin-bottom: 165px;
    }
    #products_1>img{
        height: 9px;
        position: absolute;
        left: 0;
    }
    #products_1 h2 {
        position: absolute;
        left: 75px;
        margin-top: -11px;
        font-size: 2em;
    }
    #p_1{
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 700px;
        margin-bottom: 80px;
    }
    #p_2{
        margin-top: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 auto;
        max-width: 700px;
        margin-bottom: 130px;
    }
    #p_2 .products_detail:nth-of-type(2) img:nth-of-type(2){
        width: 96%;
    }
    .products_detail {
        width: 45%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: -50px;
        padding: 30px;
    
    }
    .products_detail:nth-child(1) img:nth-of-type(2){
        width: 88%;
    }
    .products_detail img{
        margin: 0 auto;
    }
    .products_detail img:nth-of-type(1){
        margin: 30px 0;
    }
    .products_detail img:nth-of-type(2){
        width: 100%;
    }
    .products_detail h4{
        text-align: center;
        font-size: 1.9em;
        margin-bottom: -10px;
    
    }
    .products_detail .price {
        width: 100%;
        margin-left: -7%;
    }
    .products_detail:nth-child(1) .price{
        margin-left: -2%;
    }
    .products_detail .price>p:nth-of-type(1){
        font-size: 2.1em;
        margin-top: 20px;
    }
    .products_detail .price>p:nth-of-type(2){
        margin-top: 10px;
        font-size: 1.3em;
        color:#707070;
        margin-bottom: 30px;
    }
    .products_detail .btn{
        display: flex;
        margin-bottom: 30px;
    }
    .products_detail .btn p:nth-of-type(1){
        color: white;
        background-color: #AFB398;
        border-radius: 30px;
        height: 40px;
        width: 135px;
        font-size: 1.3em;
        line-height: 39px;
        text-align: center;
        display: flex;
        padding-left: 5%;
    }
    .products_detail .btn p:nth-of-type(2){
        color: #7D806F;
        font-weight: bold;
        background-color: #afb39863;
        border-radius: 30px;
        border: 2px solid #D2D8B3;
        height: 40px;
        width: 135px;
        font-size: 1.3em;
        text-align: center;
        line-height: 36px;
        display: flex;
        padding-left: 22px;
    }
    /* 푸터1 */
    #footer1{
        padding-top: 100px;
        width: 60%;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    #footer1 p{
        margin-bottom: 25px;
    }
    #footer1 a{ 
        margin-right: 15px;
    }
    #footer1 a, p{
        color:#483B23;
    }
    /* 푸터2 */
    #footer2{
        width: 60%;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    #footer2 a{
        margin-right: 30px;
        padding-bottom: 10px;
    }
    #footer2 p{
        margin-bottom: 80px;
    }
    #footer2 a, p{
        color:#292929;
    }
    footer #topB{
        right: 30px;
    }
}

/* PC모드 */
@media screen and (min-width:1300px){
        /* 헤더 */
        header{
            margin-top: 30px;
        }
        header #menu1 a#logo img{
            width: 230px;
            margin-left: 30px;
        }
        /* 네비게이션 메뉴 */
        header #menu2 ul{
            margin-top: -50px;
        }
            header #menu2> ul > li {
                font-size: 1em;
            }
            header #menu2 img{
                margin-top: -8px;    }
        /* 섹션 */
        /* 크레마 소개_1 언제 어디서나 편리하게 */
        section #intro_1{
            font-size: 1.7em;
            margin-top: 350px;
        }
        section #intro_1 img {
            width: 180px; 
        }
        /* 크레마 소개_2 무거운 책들은 이제 NO! */
        section #intro_2 {
            margin-top: 122px;
        }
        section #intro_2 img{
            width: 58%;
        }
        section #intro_2_2 {
            width: 42%;
            margin: 0 auto;
            padding-left: 5%;
            position: relative;
            padding-top: 16%;
            background-color: #F3F4F1;
            height: auto;
    
        }
        section #intro_2_2 h3, h4{
            text-align: left;
            padding-left: 2%;
        }
        section #intro_2_2 h3 {
            font-size: 2em;
            margin-bottom: 23px;
        }
        section #intro_2_2 h4 {
            font-size: 1.7em;
            margin-top: 45px;
        }
        section #intro_2_2 img {
            position: absolute;
            right: 0;
            height: 5px;
            width: 88%;
        }
        /* 크레마 소개_3 */
        #intro_3 img:nth-child(1){
            margin-top: 300px;
            width: 90%;
        }
        #remote{
            overflow: hidden;
            width: 80%;
            margin: 0 auto;
        }
        #remote img:nth-child(1){
            width: 45%;
            margin-top: 220px;
            float: left;
        }
        #remote img:nth-child(2){
            margin-top:38%;
        }
        #remote img:nth-child(3){
            display: none;
        }
        #remote p {
            text-align: center;
            font-size: 1.3em;
        }
        /* 크레마 소개_4 */
        #intro_4 img{
            width: 100%;
            margin-top: 220px;
            margin-bottom: 400px;
        }
        /* 크레마s */
        #cremaS #cremaS_text {
            margin-top: 220px;
        }
        #cremaS #cremaS_text h2, p{
            text-align: left;
            padding-left: 7%;
        }
        #text_text {
            width:100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 180px;
        }
        #text_text h2 {
            font-size: 2em;
        }
        #text_text p {
            font-size: 1.1em;
            background: none;
            padding-top: 20px;
            padding-bottom: 74px;
            background: #eee;
        }
        /* 카르타G 자이로센서 */
        #cartaG_2{
            margin-top: 850px;
        }
        #cartaG_2_1{
            background-color: #fff;
        }
        #cartaG_2_1> img{
            width: 80px;
            margin-top:40px ;
            margin-bottom: 30px;
        }
        #cartaG_2_2{
            background-color: #fff;
            margin: 0 auto;
        }
        #cartaG_2_2 h3{
            font-size: 2.1em;
            margin-bottom: 35px;
        }
        #cartaG_2_2 p{
            text-align: center;
            margin-left: -7%;
            font-size: 1.3em;
        }
        #cartaG_2_2 img{ 
            width: 100%;
            margin-top: 60px;
            margin-bottom: 400px;
        }
        /* 사운드업 */
        #soundUP img:nth-of-type(1){
            width: 90%;
            max-width: 1300px;
            margin-bottom: 30px;
        }
        #soundUP img:nth-of-type(2), img:nth-of-type(3){
            max-width: 1000px;
        }
        #soundUP #SU img{
            width: 100%;
            margin-top: 250px;
            margin-bottom: 350px;
            }
        /* 그랑데 */
        #grande img:nth-of-type(3){
            max-width: 800px;
        }
        /* 상품들 */
        #products{
            display: flex;
        }
        #products_1{
            margin-bottom: 400px;
            margin-top: 200px;
        }
        #products_1>img{
            height: 9px;
            position: absolute;
            left: 0;
        }
        #products_1 h2 {
            position: absolute;
            left: 75px;
            margin-top: -11px;
            font-size: 2em;
        }
        #p_1{
            /* position: relative; */
            margin-top: 150px;
            /* overflow: hidden; */
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0 auto;
            width: 80%;
            margin-top: 400px;
            margin-right: 70px;
        }
        #p_2{
            /* position: relative; */
            margin-top: 150px;
            /* overflow: hidden; */
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0 auto;
            width: 80%;
            margin-bottom: 130px;
            margin-top: 400px;

        }
        .products_detail {
            width: 56%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            margin-top: -50px;
            padding: 8%;
        
        }
        .products_detail:nth-child(1) img:nth-of-type(2){
            width: 88%;
        }
        .products_detail img{
            margin: 0 auto;
        }
        .products_detail img:nth-of-type(1){
            margin: 30px 0;
        }
        .products_detail img:nth-of-type(2){
            width: 100%;
        }
        #p_2 img:nth-of-type(2){
            width: 84%;
        }
        #p_2 .products_detail:nth-child(2) img:nth-of-type(2){
            width: 92%;
        }
        #p_2 .price {
            margin-left: 2%;
        }
        .products_detail h4{
            text-align: center;
            font-size: 1.9em;
            margin-bottom: -10px;
        
        }

        .products_detail:nth-child(1) .price{
            margin-left: -2%;
        }
        .products_detail .price>p:nth-of-type(1){
            font-size: 2.1em;
            margin-top: 20px;
        }
        .products_detail .price>p:nth-of-type(2){
            margin-top: 10px;
            font-size: 1.3em;
            color:#707070;
            margin-bottom: 30px;
        }
        .products_detail .btn{
            display: flex;
            width: 100%;
            margin-bottom: 30px;
        }
        .products_detail .btn p:nth-of-type(1){
            color: white;
            background-color: #AFB398;
            border-radius: 30px;
            height: 40px;
            width: 135px;
            font-size: 1.3em;
            line-height: 39px;
            padding-left: 9px;
            display: flex;
            margin-right: 4%;
        }
        .products_detail .btn p:nth-of-type(2){
            color: #7D806F;
            font-weight: bold;
            background-color: #afb39863;
            border-radius: 30px;
            border: 2px solid #D2D8B3;
            height: 40px;
            width: 135px;
            font-size: 1.3em;
            text-align: center;
            line-height: 36px;
            padding-left: 19px;
            display: flex;
        }
        
        /* 푸터 */
        footer{
            background: url("../images/footer_bg.svg");
            height: 700px;
            margin-top: 70px;
            display: flex;
            flex-direction: row-reverse;
        }
        /* 푸터1 */
        #footer1{
            /* padding-top: 200px; */
            width: 60%;
            margin-bottom: 80px;
            margin-top: 30px;
        }
        #footer1 p{
            margin-bottom: 25px;
        }
        #footer1 a{ 
            margin-right: 15px;
        }
        #footer1 a, p{
            color:#483B23;
        }
        /* 푸터2 */
        #footer2{
            width: 60%;
            margin-top: 130px;
            margin-left: 15%;
        }
        #footer2 a{
            margin-right: 30px;
            padding-bottom: 10px;
        }
        #footer2 p{
            margin-bottom: 75px;
        }
        #footer2 a, p{
            color:#292929;
        }
        footer #topB{
            right: 40px;
        }
    }
